<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.pipi.mobile.pipiplayer.hd"
    android:versionCode="@integer/pipiplayer_versioncode"
    android:versionName="@string/pipiplayer_versionname">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <application
        android:name="cn.pipi.mobile.pipiplayer.local.vlc.VLCApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light">
        <meta-data
            android:name="BaiduMobAd_APP_ID"
            android:value="dd4fe693" />


        <activity
            android:name="cn.pipi.mobile.pipiplayer.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.pipi.mobile.pipiplayer.MainActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cn.pipi.mobile.pipiplayer.SearchActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cn.pipi.mobile.pipiplayer.AdDetailActivity"
            android:screenOrientation="sensor"/>
       <!-- android:configChanges="keyboardHidden|orientation|screenSize"
        android:screenOrientation="sensorLandscape"-->
        <activity
            android:name="cn.pipi.mobile.pipiplayer.MovieDetialActivity"

            android:windowSoftInputMode="adjustPan|stateHidden"
       >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="app"
                    android:scheme="ppfilm" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.pipi.mobile.pipiplayer.PlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cn.pipi.mobile.pipiplayer.DetialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cn.pipi.mobile.pipiplayer.DownloadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cn.pipi.mobile.pipiplayer.HtmlPlayer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"/>
        <activity
            android:name="cn.pipi.mobile.pipiplayer.SetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/setstyle"/>
        <activity
            android:name="cn.pipi.mobile.pipiplayer.local.vlc.gui.video.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.VLC.Fullscreen">
            <!-- This filter captures protocols without type info -->


        </activity>

        <activity android:name="cn.pipi.mobile.pipiplayer.local.vlc.gui.CompatErrorActivity" />
        <!--        	  <activity android:name="cn.pipi.mobile.pipiplayer.local.vlc.gui.CompatErrorActivity" android:theme="@style/Sherlock.__Widget.ActionBar"/>  -->
        <activity android:name="cn.pipi.mobile.pipiplayer.local.vlc.gui.MainLocalActivity" />
        <!-- <activity android:name="cn.pipi.mobile.pipiplayer.local.vlc.gui.PreferencesActivity" android:theme="@style/Sherlock.__Widget.ActionBar"/> -->
        <activity
            android:name="cn.pipi.mobile.pipiplayer.local.vlc.gui.BrowserActivity"
            android:label="@string/mediafiles"
            android:theme="@style/Theme.VLC.Basic" />
        <activity android:name="cn.pipi.mobile.pipiplayer.local.vlc.gui.video.MediaInfoActivity" />
        <!-- 		  <activity android:name="cn.pipi.mobile.pipiplayer.local.vlc.gui.video.MediaInfoActivity" android:theme="@style/Sherlock.__Widget.ActionBar"/> -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_appkey"/>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <service android:name="cn.pipi.mobile.pipiplayer.updata.UpdataService">
            <intent-filter>
                <action android:name="cn.pipiplayer.appupdata" />
            </intent-filter>
        </service>
        <service android:name="cn.pipi.mobile.pipiplayer.local.vlc.AudioService" />

        <receiver android:name="cn.pipi.mobile.pipiplayer.local.vlc.RemoteControlClientReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name="cn.pipi.mobile.pipiplayer.HdmiListener">
            <intent-filter>
                <action android:name="android.intent.action.HDMI_PLUGGED" />
            </intent-filter>
        </receiver>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

</manifest>